<!DOCTYPE html>
<html>
<head>
<title>House Price Prediction</title>
</head>

<body>

<h2>House Price Prediction</h2>

<form action="/predict" method="post">

Longitude:<br>
<input type="text" name="longitude"><br>

Latitude:<br>
<input type="text" name="latitude"><br>

Housing Median Age:<br>
<input type="text" name="housing_median_age"><br>

Total Rooms:<br>
<input type="text" name="total_rooms"><br>

Total Bedrooms:<br>
<input type="text" name="total_bedrooms"><br>

Population:<br>
<input type="text" name="population"><br>

Households:<br>
<input type="text" name="households"><br>

Median Income:<br>
<input type="text" name="median_income"><br><br>

<input type="submit" value="Predict">

</form>

<br>

<h3>{{ prediction_text }}</h3>

</body>

</html>